@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
  .header { 
    min-height: 360px;
    padding: 30px;
    color: white;
  }
}
@media (min-width: 767px) { 
  .header { 
    min-height: 300px;
    padding: 60px 30px;
    color: white;
  }
}

.header h1 {
  font-size: 2em;
  color: white;
}

.header p { 
  font-size: 1.2em;
  line-height: normal;
}

.max-lines {
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 5.5em;
  line-height: 1.6em;
}

/* Featured Repository */
.featured-repository-row,
.newcomer-issues-row,
.newsletter {
  background-color: #fff;
  justify-content: center;
  padding: 20px 0;
  text-align: center;
}

.featured-repository-row,
.newsletter {
  background: #f0f2f5;
}

.newsletter {
  margin-bottom: 30px;
}

h2 small { 
  color: #ccc;
  padding: 0 0 0 15px;
  font-size: 0.6em;
}

.repository-card {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  min-height: 300px;
  max-height: 300px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  border-top: 5px solid #1890ff;
  color: #9e9e9e;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.repository-card:hover {
  border-top: 5px solid #40a9ff;
}

.repository-card *,
.repository-card *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.repository-card a {
  color: #9e9e9e;
}

.repository-card .avatar {
  color: #fff;
  width: 80px;
  margin-top: 15px;
  padding: 0;
  text-align: center;
  display: inline-block;
}

.repository-card h3 {
  margin-top: 15px;
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
}

.repository-card p {
  font-size: 0.9em;
  font-weight: 300;
  padding: 15px;
  margin-bottom: 30px;
}

.repository-card footer {
  padding: 0 25px;
  color: #666;
  font-size: 0.8em;
  line-height: 50px;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

.repository-card footer > div {
  display: inline-block;
  margin-right: 15px;
}

.repository-card footer i {
  margin-right: 5px;
  font-size: 1.2em;
}

/* Issues list */
.newcomer-issues-row .ant-list-item {
  text-align: left;
}

/* Footer */
.ant-layout-footer { 
  background: #C1C6CB;
}
.footer-icons {
  font-size: 18px;
}
.footer-icons a {
  color: #666;
  padding: 0 10px;
}

/* Mailchimp */
#mce-error-response,
#mce-success-response {
  display: none;
}